/*é¢œè‰²é…ç½®*/
/*é¢œè‰²å®šä¹‰*/
/*æ–‡å­—é¢œè‰²*/
/*èƒŒæ™¯é¢œè‰²*/
/*@bgcolor_tingrey:#f5f7f9;*/
/*è¾¹æ¡†é¢œè‰²*/
/**ç»„ä»¶å®šä¹‰*/
.input_normal {
  width: 230px;
  height: 32px;
  border: 1px solid #4e7ebc;
  border-radius: 3px;
  padding-left: 8px;
  line-height: 30px;
  background: #ffffff;
  vertical-align: middle;
}
.btn_icon {
  width: 36px;
  height: 32px;
  line-height: 32px;
  border: 0  none;
  border-radius: 3px;
  background: #4e7ebc;
  color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
}
/*******æŒ‰é’®*******/
.button {
  display: block;
  background: #4e7ebc;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 28px;
  border-radius: 5px;
  width: 100%;
  border: 0 none;
  box-sizing: border-box;
  cursor: pointer;
}
.butinline {
  width: auto;
  padding: 0 24px;
  display: inline-block;
}
.btnin {
  width: auto;
  padding: 0 14px;
  display: inline-block;
}
.button:hover {
  background: #8b9ebb;
}
.button.basebutton {
  background: #d2dae6;
  color: #ffffff;
  border: 0 none;
}
.longbtn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #d2dae6;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
}
.longbtn:hover {
  background: #8b9ebb;
}
.longbtn.btnactive {
  background: #8b9ebb;
}
.longbtn.btnactive:hover {
  background: #5b99f9;
}
.button.loginbtn {
  background: #ffffff;
  color: #4e7ebc;
  border: 1px solid #4e7ebc;
  height: 52px;
  line-height: 52px;
}
.btnline {
  color: #8a8a8a;
  border: 1px solid #999;
  font-size: 14px;
  text-align: center;
  height: 28px;
  line-height: 26px;
  border-radius: 5px;
  padding: 0 14px;
  background: none;
  margin-right: 12px;
  cursor: pointer;
}
.btnline_blue {
  color: #8b9ebb;
  border: 1px solid #8b9ebb;
}
/*ç™»å½•æ³¨å†Œ*/
.center {
  padding-top: 160px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
.content {
  width: 840px;
  margin: 0 auto;
  position: relative;
}
.intro {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
  font-size: 16px;
  color: #ffffff;
  font-family: 'å¾®è½¯é›…é»‘';
}
.intro p {
  position: relative;
  padding: 0 0 0 24px;
  line-height: 24px;
  top: -100px;
  right: -650px;
  opacity: 0;
  font-size: 12px;
}
.loginbox label.error {
  margin: 10px 0 0;
  height: 14px;
  line-height: 14px;
}
#passStrengthbox {
  display: none;
}
/*.intro p:nth-child(1){padding-left: 2em;}
.intro p:nth-child(1){padding-left: 4em;}
.intro p:nth-child(2){padding-left: 6em;}
.intro p:nth-child(3){padding-left: 8em;}
.intro p:nth-child(4){padding-left: 10em;}
.intro p:nth-child(5){padding-left: 12em;}
*/
.login_right {
  width: 315px;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.login_tab {
  text-align: center;
  font-size: 14px;
  height: 58px;
  overflow: hidden;
}
.login_tab li {
  position: relative;
  float: left;
  line-height: 58px;
  cursor: pointer;
  background: #4e7ebc;
  width: 50%;
  box-sizing: border-box;
  color: #ffffff;
}
.login_tab li:first-child {
  border-right: 1px solid #8b9ebb;
}
.login_tab li a {
  display: block;
  width: 100%;
  height: 100%;
}
.login_tab i {
  display: none;
  width: 0;
  height: 0;
  border: 16px solid #ffffff;
  border-width: 8px;
  border-color: transparent transparent #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
}
.login_tab .active i {
  display: block;
}
.falilogin {
  padding-top: 14px;
  position: relative;
  height: 12px;
}
.falilogin a {
  color: #8b9ebb;
  position: absolute;
  right: 0;
  top: 14px;
}
.falilogin i {
  margin-right: 6px;
}
.falilogin:hover .i_foget {
  background-position: 0 -120px;
}
.login_h {
  width: 216px;
  height: 82px;
  background: url("img/logo_white.png") no-repeat left top;
  margin-bottom: 18px;
}
.loginbox {
  padding: 26px;
}
/*ä¸ªäººä¸­å¿ƒé¦–é¡µ*/
.infobox,
.reviewcon,
.messagecon {
  padding: 32px 78px 64px;
  background: #ffffff;
}
.spcontent {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-left: 200px;
  margin-top: 30px;
  min-height: 500px;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0px 0px 3px #dfe7f6;
}
.spside {
  width: 200px;
  background: #eef1f4;
  position: absolute;
  top: 0;
  left: 0;
  height: 5000px;
}
.spnav {
  width: 200px;
}
.spnav dt {
  height: 36px;
  line-height: 36px;
  padding: 24px 0 0 44px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #243c4f;
  font-size: 18px;
}
.spnav dd {
  height: 42px;
  line-height: 42px;
  position: relative;
  font-size: 14px;
  color: #677ea2;
}
.spnav dd i {
  vertical-align: middle;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 44px;
}
.spnav dd.active,
.spnav dd:hover {
  background: #ffffff;
}
.spnav dd a {
  display: block;
  height: 42px;
  padding-left: 68px;
}
.spmain {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.infohead {
  height: 76px;
  line-height: 76px;
  border-bottom: 1px solid #eef1f4;
  color: #8b9ebb;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 70px;
}
.infobox {
  position: relative;
  color: #666666;
}
.infopart {
  margin-bottom: 24px;
  color: #666666;
}
.infopart dt {
  font-weight: bold;
  margin-bottom: 14px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}
.infoline {
  margin: 0 0 12px 32px;
  position: relative;
  padding: 0 0 0 96px;
  min-height: 36px;
}
.infoline .inname {
  position: absolute;
  width: 80px;
  text-align: left;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 36px;
  height: 36px;
}
.infoin {
  line-height: 36px;
}
.countbox .infoin,
.countbox .editbtn {
  font-size: 14px;
}
.previewimg,
.userpicbox {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
}
.userpicbox {
  margin: 0 68px 0 100px;
  float: left;
  position: relative;
  overflow: hidden;
}
.picbtnbox {
  padding: 24px 0 20px;
}
.userpicbtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
}
.userpicbtn input {
  background: none;
}
.userpicbtn:hover input {
  background: url("img/add.png") no-repeat center;
}
/*
.infor{width: 200px;top: 64px; right: 20px;}
.previewbox{width: 200px;height: 100px;overflow: hidden
.infor .previewimg{width: 100px;height: 100px;border-radius:50px;display: block;margin: 0 auto;}
.fileh{line-height: 48px;}
.filecoc{line-height: 32px;text-align: center;}
.picbtnbox{width: 160px;overflow: hidden;height: 32px;}
*/
.editbtn {
  color: #4e7ebc;
}
.progressBarStatus,
.progressName {
  color: #fcfdff;
  font-size: 0px;
}
#commentForm input,
#commentForm select {
  border: 1px solid #8b9ebb;
}
/***ä¿¡æ¯æç¤ºé¡µé¢***/
.jumpcon {
  width: 1000px;
  margin: 0 auto;
}
.jumpbox {
  width: 700px;
  margin: 0 auto;
  padding-top: 160px;
}
.jumph {
  font-size: 16px;
  text-align: center;
  line-height: 64px;
  font-weight: normal;
}
.jumph i {
  margin-right: 16px;
}
.jumptext {
  line-height: 60px;
  font-size: 14px;
  text-align: center;
}
.jumptext a {
  color: #8b9ebb;
}
.findbox {
  padding: 80px 0;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 0 3px #c1c8d6;
  background: #ffffff;
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 60px;
}
.findh {
  line-height: 1em;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}
.findtext {
  padding-top: 68px;
  width: 500px;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: box;
  box-align: center;
  box-pack: center;
}
.findtext .findbtnft {
  text-align: center;
  overflow: hidden;
}
.findtext .butinline {
  margin: 20px auto 0;
}
.findtext .butinline:first-child {
  margin-right: 12px;
}
.textcell {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.findline {
  min-height: 32px;
  position: relative;
  padding-left: 72px;
  width: 220px;
  margin: 0 auto 20px;
  line-height: 32px;
}
.findline label {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 14px;
}
.findtext .backmsg {
  color: #db2323;
  text-align: center;
  padding: 24px 32px 0;
  display: none;
}
#find_pass label.hide {
  display: none;
}
#find_pass .error {
  display: block;
}
#find_pass label.error.valid,
#count_password label.error.valid,
#count_email label.error.valid,
#find_resetpsw label.error.valid {
  display: inline;
  right: -22px;
  left: auto;
  top: -12px;
}
/*ç§¯åˆ†*/
.scoreside {
  width: 160px;
  position: absolute;
  top: 50px;
  right: 60px;
}
.scorepic {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
}
.scoreside .imgh {
  text-align: center;
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  color: #666666;
}
.scoreside p {
  line-height: 24px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
.scoreside p span {
  color: #666666;
}
.scoreside .button {
  margin: 8px auto 0;
  width: 72px;
}
.viewhead {
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  color: #666666;
}
.tablebox {
  margin-right: 250px;
}
.scoretable {
  border-collapse: 0;
  border-spacing: 0;
  width: 100%;
  margin-top: 32px;
  width: 450px;
  margin-bottom: 24px;
}
.scoretable td,
.scoretable th {
  border-bottom: 1px solid #eef1f4;
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0 14px;
}
.scoretable th:last-child,
.scoretable td:last-child {
  text-align: left;
}
/*è¡Œä¸š*/
.sltrade,
.alltrade {
  text-align: justify;
  padding: 20px;
}
.alltrade {
  overflow: hidden;
}
.sltrade a,
.alltrade a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #333333;
  position: relative;
}
.sltrade a {
  width: 150px;
}
.sltrade i {
  display: none;
  position: absolute;
  top: 1px;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 10px;
  color: #db2323;
}
.sltrade a:hover i {
  display: inline;
  margin-left: 4px;
}
.sltrade a:hover,
.alltrade a:hover,
.alltrade a.flag1 {
  font-weight: bold;
}
.alltrade a.selected {
  color: #4e7ebc;
}
.centerft {
  position: absolute;
  top: 24px;
  right: 40px;
}
.centerft .longbtn:first-child {
  margin-right: 12px;
}
.head_a {
  font-weight: normal;
  color: #8b9ebb;
  margin-left: 60px;
}
.relate {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  background: #cccccc;
  z-index: 10;
  margin-left: 4px;
  display: inline-block;
}
.relate span {
  display: block;
  width: 48px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #666666;
}
.alltrade a.relates {
  color: #f0f;
}
.relate .uprl {
  border-bottom: 1px solid #999;
}
.alltrade li {
  height: 28px;
  line-height: 28px;
  color: #333333;
}
.alltrade ul {
  width: 150px;
  float: left;
}
/*#oktip{position: fixed;top: 50%;left: 50%;width: 300px;height:68px;margin-left: -150px;margin-top:-34px;line-height:68px;text-align: center;background: #F5F3BE;border-radius: 70px;color: #09652C;font-size: 14px;}
*/
#oktip,
.oktip {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 68px;
  margin-left: -150px;
  margin-top: -34px;
  line-height: 68px;
  text-align: center;
  background: rgba(210, 218, 230, 0.89);
  border-radius: 3px;
  color: #045bcc;
  font-size: 14px;
  font-weight: bold;
}
.tipfixed .oktip {
  display: block;
  width: 500px;
  margin-left: -250px;
}
.tipfixed b {
  text-decoration: underline;
  color: #4e7ebc;
}
/*æ”¶è—*/
.collectcon {
  overflow: hidden;
  padding: 32px 60px 64px 32px;
  background: #fcfdff;
}
.collectside {
  width: 210px;
  float: left;
  overflow: hidden;
  color: #666666;
}
.collectlist {
  width: 446px;
  float: right;
}
.collecttable {
  border-collapse: 0;
  border-spacing: 0;
  border: 1px solid #333333;
  width: 100%;
}
.collecttable td,
.collecttable th {
  border: 1px solid #333333;
  height: 32px;
  line-height: 24px;
  padding: 0 14px;
}
.collecttable td:last-child {
  text-align: center;
}
.clcth {
  border-bottom: 1px solid #eef1f4;
}
.clcth li {
  font-weight: bold;
  font-size: 14px;
  height: 48px;
  line-height: 32px;
  display: inline-block;
  overflow: hidden;
}
.clcth li,
.clctlist li {
  color: #666666;
}
.clctlist li {
  border-bottom: 1px solid #eef1f4;
  position: relative;
  line-height: 60px;
  height: 60px;
}
.clctlist li span {
  display: inline-block;
  height: 60px;
  overflow: hidden;
}
.clcth li:nth-child(1),
.clctlist li span:nth-child(1) {
  width: 222px;
  margin-right: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 18px;
}
.clcth li:nth-child(2),
.clctlist li span:nth-child(2) {
  width: 108px;
  text-align: center;
}
.clctlist li span:nth-child(2) {
  color: #589dd7;
}
.clctlist li .a {
  color: #8b9ebb;
}
.clctlist li .contr {
  color: #8b9ebb;
  position: absolute;
  top: 0;
  right: 4px;
}
.clctlist li i {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.clctlist li:hover .contr {
  display: block;
}
.clctlist li:hover .i_move {
  background-position: 0 -258px;
}
.clctlist li:hover .i_robit {
  background-position: 0 -240px;
}
.clctlist,
.msglist,
.reviewlist {
  min-height: 300px;
}
.clstobox {
  width: 210px;
  padding: 24px 1px 10px;
  position: absolute;
  top: 5px;
  right: 40px;
  background: #8b9ebb;
  z-index: 10;
  border-radius: 5px;
}
.clstobox div {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0 16px;
  color: #ffffff;
}
.clstobox div:hover {
  background: #7ba6f0;
}
.clctlist li .moveto {
  margin-left: 12px;
}
.trigr {
  position: absolute;
  top: 18px;
  right: -19px;
  width: 0px;
  height: 0px;
  border: 10px solid #8b9ebb;
  border-color: transparent transparent transparent #8b9ebb;
}
.clctlist li a.close {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 8px;
  line-height: 22px;
}
/**è¯„è®º**/
.reviewtab {
  height: 30px;
  overflow: hidden;
  margin-bottom: 28px;
}
.reviewtab li {
  float: left;
  padding: 0 30px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  background: #d2dae6;
  color: #677ea2;
  overflow: hidden;
  border-right: 1px solid #ffffff;
}
.reviewtab li:first-child {
  border-radius: 5px 0 0 5px;
}
.reviewtab li:last-child {
  border-radius: 0 5px 5px 0;
  border: 0 none;
}
.reviewtab li.active {
  background: #8b9ebb;
  color: #ffffff;
}
.tabcontent {
  display: none;
}
.reviewlist {
  margin: 12px 0 24px;
}
.reviewlist li {
  border-bottom: 1px solid #eef1f4;
  position: relative;
  padding: 14px 16px;
  line-height: 24px;
  color: #666666;
  font-size: 14px;
}
.reviewlist .time,
.reviewlist .from {
  color: #8a8a8a;
  font-size: 12px;
  margin-right: 10px;
}
.reviewlist .from a {
  color: #4e7ebc;
}
.reviewlist .brief {
  margin-bottom: 8px;
  font-size: 14px;
}
.reviewlist .reply {
  color: #8b9ebb;
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;
  font-size: 12px;
}
.reviewlist li:hover .reply {
  display: inline;
}
.reviewlist li:hover,
.msglist li:hover,
.clctlist li:hover {
  background: #eef2f9;
}
/**ç³»ç»Ÿé€šçŸ¥**/
.messagetable {
  border-collapse: 0;
  border-spacing: 0;
  width: 100%;
}
.messagetable th {
  text-align: left;
}
.messagetable td,
.messagetable th {
  height: 32px;
  line-height: 32px;
}
.messagetable td:last-child,
.messagetable th:last-child {
  text-align: center;
}
.msgsection {
  position: relative;
}
.msgh {
  padding: 16px;
  line-height: 24px;
  border-bottom: 1px solid #eef1f4;
  font-weight: bold;
  padding-bottom: 16px;
  color: #666666;
}
.msglist {
  margin-bottom: 24px;
}
.msglist li {
  padding: 16px;
  border-bottom: 1px solid #eef1f4;
  color: #666666;
}
.msgh li,
.msglist li span {
  display: inline-block;
}
.msgh li:nth-child(1),
.msglist li span:nth-child(1) {
  width: 234px;
}
.msgh li:nth-child(2),
.msglist li span:nth-child(2) {
  width: 200px;
  text-align: center;
  margin-left: 24px;
}
.msgh li:nth-child(3),
.msglist li span:nth-child(3) {
  width: 68px;
  text-align: center;
  margin-left: 24px;
  margin-right: 10px;
  line-height: 14px;
}
.msgh li:nth-child(4),
.msglist li span:nth-child(4) {
  width: 50px;
  margin: 0;
  text-align: center;
}
.msglist li .a {
  color: #8b9ebb;
}
.msglist li:hover .i_delete {
  background-position: 0px -140px;
}
.msglist li:hover .i_robit {
  background-position: 0 -240px;
}
.msglist .state {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #db2323;
  display: inline-block;
  position: relative;
  top: -4px;
  left: 2px;
}
/***å¸®åŠ©ä¸­å¿ƒ***/
.helpcontent {
  width: 1100px;
  margin: 0 auto;
}
.help_kpi {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.img_inp {
  width: 400px;
  height: 400px;
  float: left;
  margin: 0 12px 12px 0;
}
.help_tab {
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  margin-top: 60px;
}
.help_tab li {
  float: left;
  width: 150px;
  text-align: center;
  overflow: hidden;
  margin-right: 1px;
  background: #d2dae6;
}
.help_tab li a {
  display: block;
  width: 150px;
  text-align: center;
  float: left;
  height: 54px;
  font-size: 14px;
  color: #677ea2;
}
.help_tab li:hover,
.help_tab li.active {
  background: #8b9ebb;
}
.help_tab li:hover a,
.help_tab li.active a {
  color: #ffffff;
}
.help_font {
  padding: 42px 0 16px 84px;
  color: #333333;
  background: #ffffff;
}
.help_section {
  margin: 0 72px 0 0;
  width: 250px;
  float: left;
  height: 154px;
  padding-top: 6px;
}
.help_line {
  margin-bottom: 36px;
  overflow: hidden;
}
.help_section dt {
  line-height: 30px;
  font-size: 20px;
}
.help_section dd {
  font-size: 14px;
  line-height: 24px;
}
.help_mix {
  background: #ffffff;
  overflow: hidden;
  padding: 42px;
  color: #333333;
}
.help_pic {
  width: 720px;
  float: left;
}
.help_pic img {
  display: block;
  width: 100%;
}
.help_context {
  width: 210px;
  margin-left: 60px;
  float: left;
  padding-top: 50px;
}
.help_sidesection {
  margin-bottom: 36px;
}
.help_sidesection dt {
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
}
.help_sidesection dd {
  font-size: 14px;
  line-height: 24px;
}
.contact_form {
  background: #ffffff;
  overflow: hidden;
  padding: 42px 360px 36px 100px;
  color: #333333;
}
.help_score {
  background: #ffffff;
  overflow: hidden;
  padding: 32px 64px 48px;
  color: #666666;
  font-size: 15px;
}
.scoreask {
  line-height: 36px;
  height: 36px;
  font-size: 16px;
  padding: 10px 0;
  color: #333333;
}
.scoreasw {
  margin-bottom: 10px;
}
.scoreasw p {
  line-height: 24px;
}
.h_s_table {
  width: 800px;
  border: 1px solid #d2dae6;
}
.h_s_table th,
.h_s_table td {
  border-right: 1px solid #d2dae6;
  border-bottom: 1px solid #d2dae6;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.h_s_table th {
  color: #333333;
  background: #f6f7fb;
}
.h_s_dl {
  margin-bottom: 10px;
}
.h_s_dl dt,
.scoresubh {
  line-height: 30px;
  height: 30px;
  font-size: 16px;
  color: #333333;
}
.contact_f_h {
  font-size: 14px;
  line-height: 48px;
  height: 48px;
}
.contact_f_f {
  padding: 32px 0;
}
.contact_area {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d2dae6;
  rezize: none;
  color: #666666;
}
.contact_p_r {
  position: relative;
  padding-right: 36px;
}
.contact_p_r label.error.valid {
  top: -7px;
}
/**æ•°æ®æŸ¥è¯¢**/
@-webkit-keyframes roll {
  0% {
    top: 0px;
  }
}
@-moz-keyframes roll {
  0% {
    top: 0px;
  }
}
@keyframes roll {
  0% {
    top: 0px;
  }
}
@-webkit-keyframes marq {
  0% {
    left: 0px;
  }
}
@-moz-keyframes marq {
  0% {
    left: 0px;
  }
}
@keyframes marq {
  0% {
    left: 0px;
  }
}
.data_body {
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
.datacontent {
  box-sizing: border;
}
.datacontentc {
  padding-top: 88px;
  position: relative;
}
.datamain {
  position: relative;
  width: 870px;
  float: left;
}
/* .tradebar{position: relative;height: 60px;line-height: 60px;padding-left: 24px;background: @bgcolor_li1blue;color: @color_greyblue;font-size: 20px;} */
.tabinput {
  position: relative;
  padding: 0 30px 0 16px;
  height: 38px;
  line-height: 38px;
  color: #333333;
  margin-right: 6px;
  border-radius: 3px;
}
.tabinput div {
  max-width: 144px;
  height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trades {
  float: left;
}
.crttrad {
  position: absolute;
  top: 12px;
  left: 130px;
  width: 350px;
  height: 36px;
  border-radius: 3px;
  line-height: 36px;
  border: 1px solid #8b9ebb;
  padding-left: 12px;
  width: 240px;
}
.crttrad,
.othertrade {
  left: 0px;
  position: absolute;
  background: #ffffff;
  color: #333333;
  font-size: 12px;
}
.othertrade {
  display: none;
  top: 36px;
  left: 0;
  z-index: 10;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 14px;
  width: 90%;
  border: 1px solid #8b9ebb;
  z-index: 500;
}
.trades:hover .othertrade {
  display: block;
}
.othertrade div:hover {
  color: #ffffff;
  background: #8b9ebb;
}
.othertrade div,
#current {
  cursor: pointer;
}
.othertrade div {
  padding: 0 24px;
  height: 36px;
  line-height: 36px;
  margin-right: 12px;
  margin-bottom: 10px;
  float: left;
  background: bgcolor_white;
  border-radius: 3px;
  color: #677ea2;
  border: 1px solid #8b9ebb;
}
.trades1 {
  position: relative;
}
.othertrade2 {
  width: 160px;
}
.databox {
  height: 560px;
  overflow: hidden;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.chart,
#predmain {
  height: 476px;
}
#mainStr,
#hightmain,
#predmainbox,
#mainsibl {
  height: 576px;
  position: relative;
}
#mainStr {
  padding-left: 20px;
}
.smalloptionbox {
  position: relative;
  width: 870px;
  height: 100px;
  overflow: hidden;
}
.oprollleft,
.oprollright {
  position: absolute;
  top: 10px;
  width: 18px;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 90px;
  z-index: 10;
}
.oprollright {
  right: 0;
}
.datasel {
  width: 100%;
  overflow: hidden;
  padding: 10px 0 0;
  text-align: justify;
}
.datasel li {
  float: left;
  height: 90px;
  width: 11%;
  margin-left: 0.1%;
  padding-right: 0.1%;
  text-align: center;
  border: 1px dashed #d2dae6;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.datasel li div {
  height: 56px;
}
.datasel li p {
  height: 30px;
  line-height: 30px;
  color: #333333;
}
.datasel input {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: -1000px;
}
.smalloptionbox ul {
  width: 1056px;
  height: 100px;
  position: absolute;
  top: 10px;
  padding: 0;
}
.smalloptionbox ul li {
  width: 93px;
}
.wrapchart {
  overflow: hidden;
}
.wrapchart .chart {
  float: left;
  overflow: hidden;
}
.dataside {
  position: relative;
  width: 320px;
  height: 614px;
  float: right;
}
.datahide {
  width: 354px;
  height: 516px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding-top: 12px;
  background: #f6f7fb;
}
.sideswitch {
  position: absolute;
  top: 250px;
  width: 20px;
  height: 160px;
  line-height: 150px;
  display: block;
  color: #ffffff;
  background: #cbe1f7;
  border-radius: 3px 0 0 3px;
  right: -20px;
}
.sideswitch.fold {
  display: none;
  border-radius: 0 3px 3px 0;
}
.sideswitch.unfold {
  display: block;
  border-radius: 0 3px 3px 0;
}
.sideswitch:hover {
  background: #9fc7f0;
}
.titletag {
  margin: 0 10px 0 4px;
}
.subhead {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #243c4f;
  position: relative;
}
.subpt {
  padding-top: 16px;
}
.subhead .more {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #8b9ebb;
  font-weight: normal;
  font-size: 12px;
}
.subhead span {
  position: absolute;
  top: 0;
  right: 8px;
  font-weight: normal;
  font-size: 12px;
}
.subhead span em {
  color: #8b9ebb;
}
.subhead.enable {
  color: #8b9ebb;
}
.subhead.noborder {
  border: 0 none;
  margin-bottom: 10px;
}
.rollbox {
  padding: 10px 12px;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.rollbox p {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 24px;
  color: #666666;
}
.rollbox p.rollable {
  animation: roll 10s infinite linear;
  -moz-animation: roll 10s infinite linear;
  -webkit-animation: roll 10s infinite linear;
}
.expviewtab {
  height: 24px;
  padding-top: 8px;
}
.expviewtab a {
  margin-right: 6px;
  padding: 4px;
}
.expviewtab a.active,
.expviewtab a:hover {
  border-bottom: 2px solid #8b9ebb;
}
.newlist {
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
  padding-top: 6px;
}
.newlist li {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  list-style: disc;
}
.newlist li a {
  color: #589dd7;
}
.newlist .marq {
  position: absolute;
  top: 0;
  animation: marq 10s infinite linear;
  -webkit-animation: marq 10s infinite linear;
  -moz-animation: marq 10s infinite linear;
}
.viewbox {
  padding-top: 20px;
}
.viewcount {
  margin-left: 10px;
  color: #4a97d5;
  font-weight: normal;
}
.saybox {
  border: 1px solid #8b9ebb;
  border-radius: 3px;
}
.say_view {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  border: 0px solid #d2dae6;
  border-radius: 3px;
  rezize: none;
  background: #ffffff;
  color: #616b72;
}
.saygobox {
  text-align: right;
  padding-top: 10px;
}
.box_saybox {
  background: #eef1f4;
  height: 130px;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 350px;
}
.saybox_ab {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  padding: 0 20px;
}
.saylist {
  padding: 10px 0 12px;
  overflow-y: auto;
  margin-right: -20px;
}
.saylist li {
  padding: 16px 0 4px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #eef1f4;
}
.saylist li img {
  width: 36px;
  height: 36px;
  border-radius: 40px;
  float: left;
  margin-right: 12px;
  border: 1px solid #ffffff;
  position: relative;
  top: 4px;
}
.saylist .name {
  line-height: 24px;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.saylist .name span {
  color: #4a97d5;
}
.saylist .content {
  line-height: 24px;
  color: #616b72;
  width: auto;
  max-height: 72px;
  overflow: hidden;
}
.saylist a {
  color: #4a97d5;
  margin: 0 6px;
}
.saylist a:hover {
  color: #76a6f0;
}
.listreply,
.listab i {
  color: #8b9ebb;
  margin-right: 8px;
}
.listab {
  height: 20px;
  line-height: 20px;
  text-align: right;
}
.listpa {
  padding-bottom: 14px;
  color: #616b72;
}
.saylist li:hover .i_price {
  background-position: 0 -280px;
}
.saylist li:hover .i_reply {
  background-position: 0 -300px;
}
.saylist li:hover {
  background: #DBE6F6;
}
.saylist li:hover .listab {
  display: block;
}
.insaybox {
  margin: 4px 12px 0 8px;
  clear: both;
}
.tipfixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: none;
}
.viewlistcontent {
  position: relative;
  overflow: hidden;
}
.datashow {
  padding: 16px 32px 18px;
  background: #eef1f4;
  height: 580px;
}
.opttable table {
  width: 80%;
  margin-left: 20px;
}
.moreviewline {
  display: block;
  border: 1px solid #4a97d5;
  color: #4a97d5;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 12px 0;
}
.sendwait {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 40;
  display: none;
}
.sendwait img {
  position: absolute;
  left: 38%;
  top: 40%;
  width: 60px;
}
.dataViewT td {
  width: 30%;
}
/*é«˜é¢‘æ•°æ®side*/
.hightside {
  display: none;
  background-color: #ffffff;
}
.selectbar {
  height: 34px;
  padding: 24px 0 10px;
  font-family: "å¾®è½¯é›…é»‘";
}
.htableh {
  background: #f9fafc;
  overflow: hidden;
}
.htableh li {
  float: left;
  line-height: 48px;
  color: #589dd7;
}
.htableh .li1,
.htableh .li3,
.htableh .li4,
.htableh .li5 {
  text-align: center;
}
.htableh .li1 {
  width: 30px;
}
.htableh .li2 {
  width: 80px;
  padding-left: 40px;
}
.htableh .li3 {
  width: 72px;
}
.htableh .li4 {
  width: 42px;
}
.htableh .li5 {
  width: 60px;
}
.hlistbox {
  height: 436px;
  overflow-y: auto;
}
.hlistul li {
  line-height: 20px;
  color: #8a8a8a;
  overflow: hidden;
  padding: 10px 0 10px 4px;
  position: relative;
}
.hlistul li:nth-child(even) {
  background: #eef2f9;
}
.hlistul li:nth-child(odd) {
  background: #f9fafc;
}
.hlistul li:hover {
  background: #4e7ebc;
  color: #ffffff;
}
.hlistul .hinput {
  width: 36px;
  float: left;
  text-align: center;
}
.hlistul .hname {
  width: 80px;
  float: left;
}
.hlistul .hunit {
  width: 72px;
  float: left;
  text-align: center;
}
.hlistul .hquen {
  width: 42px;
  float: left;
  text-align: center;
}
.hlistul .hfrom {
  width: 60px;
  float: left;
  text-align: center;
}
.hlistul li input {
  position: absolute;
  left: -100px;
  top: 0;
}
.inputhight_serch {
  width: 230px;
  height: 32px;
  border: 1px solid #4e7ebc;
  border-radius: 3px;
  padding-left: 8px;
  line-height: 30px;
  background: #ffffff;
  vertical-align: middle;
  width: 80%;
}
.pagination .pageul {
  box-shadow: none;
}
.pageul .pagealink {
  border: 0 none;
  float: none;
  padding-left: 8px;
}
.pagetext {
  line-height: 18px;
  height: 18px;
  margin-bottom: 6px;
}
.pagination {
  margin: 10px 0 0;
}
.btn-small {
  padding-right: 10px;
}
.pagination ul > li {
  display: inline;
  line-height: 20px;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
  border-top-left-radius: 4px;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  background-color: transparent;
  color: #999999;
  cursor: default;
}
.pagination ul > li > a,
.pagination ul > li > span {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #dddddd;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  float: left;
  line-height: 20px;
  padding: 4px 12px;
  text-decoration: none;
}
.pagination input {
  height: 26px;
  line-height: 24px;
  left: 10px;
  margin-left: 12px;
  text-align: center;
  width: 30px;
  background: #ffffff;
  border: 1px solid #ddd;
  vertical-align: middle;
}
/* .targetsel{position:absolute;top:14px;right:20px;overflow:hidden;width:200px;border:1px solid #8b9ebb;border-radius:14px;height:28px;line-height:28px;}
.targetsel li{float:left;width:100px;text-align:center;color:#333;font-size:14px;}
.targetsel .active{background:@bgcolor_sholowblue;color:@color_white;} */
/* .targetsel{position:absolute;bottom:-1px;right:0;overflow:hidden;width:200px;border:1px solid #8b9ebb;border-bottom:0 none;height:36px;line-height:36px;background: #fff;}
.targetsel li{float:left;width:100px;text-align:center;color: #333;font-size:14px;}
.targetsel .active{background:@bgcolor_sholowblue;color:@color_white;} */
/* .targetsel{position:absolute;top:60px;left:-69px;border-bottom:0 none;}
.targetsel li{width:58px;text-align:center;color: #99a;font-size:12px;line-height:14px;border-radius:24px 0 0 24px;background: #dfe6f4;padding:20px 0 20px 12px;margin-bottom:1px;cursor:pointer;}
.targetsel .active{background:@bgcolor_sholowblue;color:@color_white;} */
.targetsel {
  position: absolute;
  top: 60px;
  left: -27px;
  border-bottom: 0 none;
}
.targetsel li {
  width: 24px;
  text-align: center;
  color: #99a;
  font-size: 12px;
  line-height: 14px;
  background: #dfe6f4;
  padding: 20px 2px 20px;
  cursor: pointer;
}
.targetsel .active {
  background: #8b9ebb;
  color: #ffffff;
}
.targetsel .li1 {
  border-radius: 3px 0 0 0;
}
.targetsel .li2 {
  border-radius: 0 0 0 3px;
}
#mainStr,
#hightmain {
  border: 1px solid #d2dae6;
  display: none;
  background: #e3e5e8;
}
/* .maintab{height:48px;border:1px solid @bordcolor_dakegrey;border-radius:3px 3px 0 0;background:@bgcolor_whiteblue;}
.maintab .tabli{float:left;padding:0 43px 0 9px;margin-right:-30px;font-size:14px;color:@color_dackgrey;position:relative;cursor: pointer;
background:url("img/tableft.png") no-repeat left top,url("img/tabright.png") no-repeat right top;
}
.maintab .tabli span{display: inline-block;padding:0 16px 0 18px;line-height: 36px;background-color:@bgcolor_tabsubblue;vertical-align: middle;}
.maintab .tabli:nth-child(even){background:url("img/tableftmid.png") no-repeat left top,url("img/tabrightmid.png") no-repeat right top;}
.maintab .tabli:nth-child(even) span{background-color:#e9ebed;}
.maintab .tabli:nth-child(1){z-index: 19;}
.maintab .tabli:nth-child(2){z-index: 18;}
.maintab .tabli:nth-child(3){z-index: 17;}
.maintab .tabli:nth-child(4){z-index: 16;}
.maintab .tabli:nth-child(5){z-index: 15;}
.maintab .tabli:nth-child(6){z-index: 14;}
.maintab .tabli:nth-child(7){z-index: 13;}
.maintab .tabli:nth-child(8){z-index: 12;}
.maintab .tabli:nth-child(9){z-index: 11;}
.maintab .tabli.active,.maintab .tabon:hover{background:url("img/tableftactive.png") no-repeat left top,url("img/tabrightactive.png") no-repeat right top;}
.maintab .tabli.active span,.maintab .tabon:hover span{background-color:@bgcolor_dackblue;color:@color_white;}
.maintab .tabinput i{display:block;width:0px;height:0px;position:absolute;top:15px;right:10px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;}
.maintab .tabdef{cursor: default;} */
.maintab {
  height: 38px;
  border: 1px solid #a7a8a9;
  border-bottom-color: #838383;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px #a7a8a9;
  overflow: hidden;
}
.subtabs {
  float: left;
}
.maintab .tabli {
  float: left;
  height: 14px;
  padding: 11px 0;
  color: #111111;
  cursor: pointer;
}
.tabli span {
  display: block;
  padding: 0 24px;
  line-height: 12px;
  height: 12px;
  text-align: center;
  border-left: 1px solid #a7a8a9;
  float: left;
}
.tabli:hover,
.tabli.active {
  color: #ffffff;
  background: #243c4f;
  border-bottom: 3px solid #22b573;
}
.maintab .tabinput i {
  display: block;
  position: absolute;
  top: 10px;
  right: 6px;
}
.swtvalue {
  position: absolute;
  top: 308px;
  right: 8px;
  line-height: 14px;
  color: #8b9ebb;
  z-index: 10;
  display: none;
  font-size: 14px;
}
.swtvalue:hover {
  color: #76a6f0;
}
#pie {
  position: absolute;
  z-index: 40;
  top: 24px;
  left: 12px;
  width: 280px;
  background: #f7f8f9;
}
/*æ–°é—»*/
article,
header,
section,
aside {
  display: block;
}
.hotul a:hover,
.newkin li:hover,
.newslist:hover {
  color: #8b9ebb;
}
.newbar {
  height: 32px;
  position: relative;
}
.path {
  position: absolute;
  left: 0;
  bottom: 0;
}
.newbar .searchbox {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.newbox {
  width: 1000px;
  margin: 36px auto 0;
}
.newcontent {
  width: 650px;
  float: left;
  border-top: 2px solid #8b9ebb;
}
.path {
  padding: 10px 5px;
  color: #666666;
}
article {
  margin-bottom: 20px;
}
header {
  border-bottom: 1px dotted #dbdbdb;
  padding: 20px 0 4px;
  margin-bottom: 20px;
}
.noborder {
  border: 0 none;
}
.arth {
  font-family: "Microsoft YaHei", 'å¾®è½¯é›…é»‘', "MicrosoftJhengHei";
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
}
.hbar {
  padding: 30px 20px 0 0;
  text-align: left;
  color: #666666;
}
.hbar time,
.hbar span,
.hbar a {
  margin: 0 0 0 10px;
}
.hbar a {
  color: #8b9ebb;
}
.hbar strong {
  font-size: 16px;
  margin-right: 4px;
}
article section {
  font-size: 14px;
  line-height: 2;
  color: #333333;
  font-family: "å®‹ä½“";
  margin-bottom: 20px;
  padding: 10px;
}
article section p {
  margin-bottom: 12px;
  text-indent: 2em;
}
.score-mood {
  padding: 10px 0;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.score-mood .mood-item {
  float: left;
  margin: 0 10px;
  padding: 0 5px;
  cursor: pointer;
}
.score-mood .mood-item .item-count {
  color: #cc3333;
}
.score-mood .mood-item .item-img {
  padding: 2px 0;
}
.digg {
  margin: 0 auto 20px;
}
.digg .digg-item {
  float: left;
  padding-left: 90px;
  width: 46px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #256eb1;
}
#diggs {
  background: url(img/digg.png);
}
#burys {
  margin-left: 20px;
  background: url(img/digg.png) no-repeat -149px 0;
}
#diggs:hover {
  background: url(img/digg.png) 0 -50px;
}
#burys:hover {
  background: url(img/digg.png) -149px -50px;
}
.hbar_line {
  border-bottom: 1px solid #d2dae6;
  height: 40px;
  font-size: 16px;
  line-height: 37px;
}
.hbar_line span {
  line-height: 38px;
  font-size: 12px;
  float: right;
}
.hbar_line_text {
  border-bottom: 3px solid #379be9;
  color: #333333;
  height: 37px;
  float: left;
  font-weight: normal;
}
.newkin {
  list-style: outside none none;
  padding-left: 0;
  font-size: 14px;
  padding: 10px;
}
.ico-point-blue {
  background: url(img/ico-point-blue.png) 0 center no-repeat;
}
.ico-point-red {
  background: url(img/ico-point-red.png) 0 center no-repeat;
}
.info-list li.item {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
}
.info-list li.spacing {
  height: 15px;
}
.rank-top {
  margin: 3px 0;
  width: 22px;
  line-height: 22px;
  color: #ffffff;
  background-color: #db2323;
}
.rank-normal {
  margin: 2px 0;
  width: 20px;
  line-height: 22px;
  border: 1px solid bordcolor_grey;
}
.newkin li span {
  font-size: 12px;
  color: #8a8a8a;
  margin-left: 16px;
}
.newkin li {
  height: 30px;
  line-height: 30px;
}
.newside {
  width: 320px;
  float: right;
}
.box3 {
  background-color: #eef1f4;
  border-bottom: 1px solid #d2dae6;
  border-top: 2px solid #8b9ebb;
  height: 29px;
  line-height: 30px;
  position: relative;
}
.box3 .boxhead {
  color: #8b9ebb;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border-left: 1px solid #d2dae6;
  border-right: 1px solid #d2dae6;
  padding: 0 20px;
  position: absolute;
}
.hotul {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 12px;
}
.hotul li {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.hotul span {
  margin: 4px 10px 0 0;
  float: left;
  text-align: center;
  font-size: 12px;
  border: 1px solid #e5e5e5;
  line-height: 22px;
  width: 20px;
  border-radius: 3px;
}
.hotul a {
  color: #333333;
}
.hotul span.rank-top {
  background-color: #ff4500;
  color: #ffffff;
  line-height: 22px;
  width: 22px;
  border: 0 none;
}
.newslist {
  padding: 12px 0 24px;
}
.newslist li {
  padding: 12px 8px 18px;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  font-size: 14px;
}
.newslist li:hover {
  background: #f6f6f6;
}
.newslist .newh {
  color: #333333;
  font-size: 18px;
  font-family: "Microsoft YaHei", 'å¾®è½¯é›…é»‘', "MicrosoftJhengHei";
}
.newslist .newstext {
  color: #8a8a8a;
  line-height: 1.6;
  padding: 6px 0;
}
.newslist .ft {
  color: #a1a1a1;
  padding: 2px;
  text-align: right;
  font-size: 12px;
}
.aimedtitle {
  font-weight: normal;
  font-family: "Microsoft YaHei", 'å¾®è½¯é›…é»‘', "MicrosoftJhengHei";
  font-size: 26px;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
  text-align: center;
}
.viewslist {
  padding: 12px 0 20px;
}
.viewslist li {
  padding-left: 40px;
  position: relative;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.viewslist img {
  left: 0;
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.viewslist .viewscon {
  padding-left: 10px;
}
.viewslist .viewsh {
  color: #8a8a8a;
  line-height: 20px;
  padding-top: 18px;
}
.viewslist .viewsname {
  margin-right: 3px;
  color: #8b9ebb;
}
.viewslist .viewstime {
  margin-left: 7px;
  margin-right: 3px;
}
.viewslist .viewstext {
  font-size: 14px;
  line-height: 24px;
  margin-top: 6px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
}
.viewslist .viewsft {
  margin-top: 3px;
  padding-bottom: 15px;
  color: #8a8a8a;
}
.viewslist .viewsscore {
  margin-right: 10px;
}
.viewslist .viewsrepley {
  margin-right: 10px;
}
/*æœç´¢*/
.searchbox {
  width: 320px;
  height: 36px;
  border: 2px solid #8b9ebb;
  position: relative;
  background: #ffffff;
  z-index: 10;
  margin-bottom: 12px;
  border-radius: 3px;
}
.condition {
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
}
.slcbox {
  padding: 0 18px 0 14px;
  line-height: 36px;
}
.slctext {
  color: #666666;
}
.slcdrop {
  display: none;
  width: 64px;
  background: #ffffff;
  line-height: 36px;
  border: 2px solid #8b9ebb;
  border-top: 0 none;
  position: absolute;
  top: 36px;
  left: -2px;
}
.slcdrop li {
  color: #666666;
  text-align: center;
}
.slcdrop li:hover {
  color: #8b9ebb;
  background: #eef2f9;
}
.arrowbt {
  position: absolute;
  right: 0;
  top: 10px;
}
.slckey {
  border: 0 none;
  line-height: 36px;
  height: 36px;
  text-indent: 8px;
  margin-right: 10px;
  position: absolute;
  left: 64px;
  top: 0;
  width: 220px;
}
.slcbtn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.arrowbt,
.slcdrop li,
.slctext {
  cursor: pointer;
}
/**macrograhpy å®è§‚**/
.macrogfp,
.macroenergy {
  border: 1px solid #a7a8a9;
  border-top: 0 none;
}
.macrogfp {
  position: relative;
  height: 574px;
  background: #f2f3f5;
}
.macroenergy {
  width: 868px;
  height: 574px;
  box-sizing: border-box;
  position: relative;
  background: #f2f3f5;
}
.macrotreeleft {
  float: left;
  height: 508px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d2dae6;
  top: 32px;
  left: 0;
  display: none;
}
.macro_gfp_background {
  width: 868px;
  height: 100%;
  box-sizing: border-box;
}
.macro_gfp_ratio,
.macro_energy_ratio {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
}
.macro_gfp_data,
.macro_energy_data {
  float: left;
  width: 73%;
  height: 100%;
  box-sizing: border-box;
}
.treetitle,
.treefoot,
.macrotreeleft {
  background: #f6f7fb;
  position: absolute;
  z-index: 20;
  width: 234px;
  box-sizing: border-box;
  border: 1px solid #838383;
}
.treetitle {
  padding: 0 14px;
  height: 32px;
  background: #22b573;
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 0px #105c3a;
  border-radius: 5px;
  cursor: pointer;
  border: 0 none;
}
.treebubble {
  display: block;
  width: 26px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  background: rgba(16, 92, 58, 0.8);
  position: absolute;
  right: 16px;
  top: 8px;
  text-align: center;
  border-radius: 10px;
}
.treefoot {
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #a0a0a0;
  height: 35px;
  text-align: center;
  line-height: 35px;
  display: none;
}
.hreficon,
.hreficon:hover {
  background-position: -956px -18px;
}
.ztree li ul li .hreficon,
.ztree li ul li .hreficon:hover {
  background-position: -56px -20px;
}
.ztree .treebubble {
  top: 2px;
  right: 10px;
  color: #fff;
  font-size: 10px;
  background: #a0a0a0;
}
.datatypebox {
  position: absolute;
  top: 10px;
  left: 250px;
  width: 90px;
  height: 22px;
  background: #a0a0a0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 30;
}
.datatypebox li {
  float: left;
  width: 50%;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #111111;
  cursor: pointer;
}
.datatypebox li.active {
  border-radius: 20px;
  background: #22b573;
  color: #fff;
}
.legenddl {
  width: 160px;
  float: left;
  padding: 8px 0;
}
.legenddl dt,
.legenddl dd {
  height: 16px;
  color: #333333;
  overflow: hidden;
}
.legenddl dt {
  font-size: 14px;
  margin-bottom: 12px;
}
.legenddl dd {
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
.legenddl span {
  display: block;
  width: 24px;
  height: 15px;
  background: #aa5;
  float: left;
  margin-right: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.legenddl .legendhide span {
  border: 1px solid #000;
  box-sizing: border-box;
}
.legenddl .legendhide {
  color: #db2323;
}
#energyLegendbox .legenddl {
  width: 90px;
}
.energyLegendbox {
  width: 100%;
}
